/* General */

html {
	overflow-x: auto;
}
body {
	overflow: auto !important;
	min-height: 413px;
	font-family: 'Nanum Gothic', Arial, sans-serif;
}

input {
	font-family: 'Nanum Gothic', Arial, sans-serif !important;
}

#main-container {
	width: 220px;
	font-size: 12px;
}

#main-webtoon {
	margin-bottom: 37px;
}

/* Flat-UI fix */
.select {
	margin-bottom: 0px !important;
}
.dropdown-arrow {
	margin-top: 12px !important;
}

.btn-primary {
	background: #009999 !important;
}

.icons, .checkbox {
	display: inline !important;
	font-size: 13px !important;
	padding-left: 18px !important;
}

.school-to-box {
	margin-left:15px !important;
}

.form-control {
	font-size: 12px !important;
	height: 36px !important;
}

/* Bootstrap Fix */

small { cursor: pointer !important;}
li {cursor: pointer!important;}

.list-group {
	margin-bottom: 0px !important;
}

.list-group-item {
	padding: 5px 15px !important;
	overflow: hidden !important;
	width: 100% !important;
}

.media, .media-body {
	overflow: initial !important;
}

/* webtoon */

#toon-search {
	margin-bottom: 0px;
	padding: 4px 5px;
}

#toon-filter {
	margin-bottom: 2px;
}

.naver {
	background: #00d700;
}

.toon-pub {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height:100%;
	width: 10px;
	color: white;
	font-weight: bold;
}

.toon-div {
	min-height: 60px;
}

.toon-thumb-link {
	margin-top: 4px;
	margin-right: 5px;
	min-width: 50px;
}

.toon-thumb {
	width: 50px;
	height: auto;
}

.toon-info {
	line-height: 15px;
}

p.webtoon-tag {
	margin: 10px 0px 0px 0px;
	font-size: 4px;
	line-height: 0;
}

.star {
	margin-bottom: 4px;
	min-height: 14px;
}

.star-text {
	color: #777777;
	font-weight: bold;
	margin-right: 5px;
	line-height: 15px !important;
}

.toon-btn {
	font-size: 8px;
}

.tag {
	border-radius: 4px;
	background-color: #5dade2;
	color: #ffffff;
	font-size: 10px;
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	overflow: hidden;
	line-height: 15px;
	padding: 2px 4px 2px 4px;
	position: relative;
	vertical-align: middle;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	margin-bottom: 3px;
}

#spinner {
	min-height: 478px;
	width: 100%;
}

#spinner-img {
	position: absolute;
	top: 48%;
	left: 42%;
}

.webtoon-div {
	overflow: auto;
	min-height: 20px; 
}

.webtoon-header {
	position: absolute;
	top: 0px;
}

.webtoon-time {
}

.webtoon-time-div {
	position: relative;
}

.webtoon-text {
	display: block;
	font-size: 13px;
}

.gray {
	color: #777777;
}

p.webtoon-text span, {
	color: #bdc3c7;
}

.footer {
	line-height: 13px;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	background: #007777;
	padding-top: 7px;
	color: white;
}

.footer span {
	font-size: 13px;
}

.footer-webtoon {
	margin-right: 10px;
}

.carpedm20 {
	font-size: 4px;
	margin-bottom: 0px;
	color: #bdc3c7;
	margin-right: 10px;
}

.webtoon-text-label {
	display: block;
	position: absolute;
	top: 4px;
	font-size: 13px;
	line-height: 13px;
	color: #c0c1c2;
	font-weight: 400;
}

.webtoon-table {
	margin-bottom: 5px;
}

.webtoon-table .btn {
	padding: 5px 10px !important;
}